<div class="card ">
    <div class="card-content blue-grey white-text ">
        <span class=" card-title ">Education</span>
    </div>
    <div class="card-action">
        <div class="company">
            <div class="description amber-text accent-3" >
                <div class="heading"><img src="./images/bit-logo.png" class="responsive left"/>
                    <span><i class="fa fa-institution" style="margin-right:10px;"></i>BIT Sindri</span>
                    <span class="right">2010 to 2014</span>
                </div>
                <div class="sub-heading right "><i class="fa fa-graduation-cap"></i>Bachelor of Technology</div>
            </div>
        </div>
        <div class="work">
            <ul>
                <li class="center-item">
                    <i class="fa fa-external-link yellow-text"></i>
                    <span><a href="http://www.bitsindri.ac.in" style="text-transform:none;" target="_blank">http://www.bitsindri.ac.in</a></span>
                </li>
                <li class="center-item">
                    <i class="fa fa-map-marker yellow-text"></i>
                    <span>Sindri, Jharkhand</span>
                </li>
                <li class="center-item">
                    <i class="fa fa-laptop yellow-text"></i>
                    <span>Studied Computer Science &amp; Engineering.</span>
                </li>
                <li class="center-item">
                    <i class="fa fa-hand-o-right yellow-text"></i>
                    <span>Won MuPhoria and a sum of 2 Lakhs organized by <a href="http://muphoria.mu-sigma.com " taget="_blank">Mu Sigma</a></span>
                </li>
                <li class="center-item">
                <i class="fa fa-hand-o-right yellow-text"></i>
                <span>Qualified online round of ACM ICPC organized by ACM ICPC Amritapuri. </span>
                </li>
                <li class="center-item">
                    <i class="fa fa-hand-o-right yellow-text"></i>
                    <span>Won Aspirations 2020 at college level and participated at Development Center leve organized by Infosys </span>
                </li>
                <li class="center-item">
                    <i class="fa fa-hand-o-right yellow-text"></i>
                    <span>Won several programming and app building contests organized by Technical Clubs at BIT Sindri </span>
                </li>
            </ul>

        </div>
    </div>
</div>
