<div class="card ">
    <div class="card-content blue-grey white-text ">
        <span class=" card-title ">Experience</span>
    </div>
    <div class="card-action">
        <div class="company">
            <div class="description green-text" >
                <div class="heading"><img src="./images/musigma-logo.jpg" class="responsive left"/>
                    <span>Mu Sigma</span>
                    <span class="right">2014 to present</span>
                </div>
                <div class="sub-heading right purple-text accent-3">Developer</div>
            </div>
        </div>
        <div class="work">
            <ul>
                <li class="center-item">
                    <i class="fa fa-hand-o-right purple-text"></i>
                    <span>Developing a web based IDE in JavaScript that analysts can use to analyze their data using built in and custom visualization, bind data and add interactivity arcoss visualizations. It allows to build custom visualization using libraries like D3, Rickshaw, Highchart etc.</span>
                </li>
                <li class="center-item">
                    <i class="fa fa-hand-o-right purple-text"></i>
                    <span>Diving into other technologies that extend the possibilities of programming.</span>
                </li>
            </ul>

        </div>
    </div>
</div>
