<div class="card ">
    <div class="card-content blue-grey white-text ">
        <span class=" card-title ">Experience</span>
    </div>
    
    <div class="card-action">
        <div class="company">
            <div class="description green-text" >
                <div class="heading"><img src="https://a.staticaa.com/images/logo/aa-logo.png" class="responsive left"/>
                    <span>AirAsia</span>
                    <span class="right">August 2019 to Present</span>
                </div>
                <div class="sub-heading right purple-text accent-3">Senior Software Engineer</div>
            </div>
        </div>
        <div class="work">
            <ul>
                <li class="center-item">
                    <i class="fa fa-hand-o-right purple-text"></i>
                    <span>Go, Kubernetes, GCP, ElasticSearch</span>
                </li>
            </ul>

        </div>
    </div>

    <div class="card-action">
        <div class="company">
            <div class="description green-text" >
                <div class="heading"><img src="https://content.castsoftware.com/hs-fs/hubfs/cast2016-css/img/theme/CAST_grey.png" class="responsive left"/>
                    <span>CAST R&amp;D</span>
                    <span class="right">November 2017 to August 2019</span>
                </div>
                <div class="sub-heading right purple-text accent-3">Senior Software Engineer</div>
            </div>
        </div>
        <div class="work">
            <ul>
                <li class="center-item">
                    <i class="fa fa-hand-o-right purple-text"></i>
                    <span>Go, Neo4J, React, Redux, Microservices</span>
                </li>
            </ul>

        </div>
    </div>

    <div class="card-action">
        <div class="company">
            <div class="description green-text" >
                <div class="heading"><img src="https://www.thoughtworks.com/imgs/tw-logo.png" class="responsive left"/>
                    <span>ThoughtWorks</span>
                    <span class="right">October 2015 to November 2017</span>
                </div>
                <div class="sub-heading right purple-text accent-3">Application Developer</div>
            </div>
        </div>
        <div class="work">
            <ul>
                <li class="center-item">
                    <i class="fa fa-hand-o-right purple-text"></i>
                    <span>Learning Go, Scala, React, Angular, Microservices</span>
                </li>
            </ul>

        </div>
    </div>
    
    <div class="card-action">
        <div class="company">
            <div class="description green-text" >
                <div class="heading"><img src="./images/musigma-logo.jpg" class="responsive left"/>
                    <span>Mu Sigma</span>
                    <span class="right">July 2014 to October 2015</span>
                </div>
                <div class="sub-heading right purple-text accent-3">Developer</div>
            </div>
        </div>
        <div class="work">
            <ul>
                <li class="center-item">
                    <i class="fa fa-hand-o-right purple-text"></i>
                    <span>Developed a web based IDE in JavaScript that analysts can use to analyze their data using built in and custom visualization, bind data and add interactivity arcoss visualizations. It allows to build custom visualization using libraries like D3, Rickshaw, Highchart etc.</span>
                </li>
            </ul>

        </div>
    </div>

</div>
