<div class="io-profile-header">
        <h1 class="grey-text text-darken-1">Vikash <strong class="ng-binding">Verma</strong></h1>
</div>

    <blockquote>
        <div class="b-icon"><i class="mdi-communication-phone red-text accent-2"></i> (+91) 7411819945</div>
        <div class="b-icon"><i class="mdi-communication-email red-text accent-2"></i> vikashverma&#64;programminggeek.in</div>
        <div class="b-icon"><i class="mdi-action-home red-text accent-2"></i> Bengaluru, IN</div>
        <div class="b-icon" style="padding-top:10px;">
          <a href="http://www.facebook.com/vikashvverma" target="_blank" style="color:#3B5998 !important;"><i class="fa fa-facebook fa-2x  accent-2"></i></a>
          <a href="http://www.google.com/+VikashVerma" target="_blank" style="color:#C63D2D !important;"><i class="fa fa-google-plus"></i></a>
          <a href="http://www.linkedin.com/in/vikashvverma/en" target="_blank" style="color:#4875B4 !important;"><i class="fa fa-linkedin-square"></i></a>
          <a href="https://github.com/VIKASHvverma/" target="_blank"><i class="fa fa-github-alt black-text accent-2"></i></a>
        </div>
    </blockquote>
