<div class="card ">
    <div class="card-content blue-grey white-text ">
        <span class=" card-title ">Projects</span>
    </div>
    <div class="card-action">
        <div class="company">
            <div class="description green-text accent-3" >
                <div class="heading"><img src="./images/musigma-logo.jpg" class="responsive left"/>
                    <span>VCL</span>
                    <span class="right">July 2014 to October 2015</span>
                </div>
                <div class="sub-heading right  ">VCL is a user interface design, prototyping and deployment solution for Enterprise-ready analytical applications</div>
            </div>
        </div>
        <div class="work">
            <ul>
                <li class="center-item">
                    <i class="fa fa-hand-o-right green-text"></i>
                    <span>Increased interactivity of visualizations.</span>
                </li>
                <li class="center-item">
                    <i class="fa fa-hand-o-right green-text"></i>
                    <span>Optimized code for better experience.</span>
                </li>
                <li class="center-item">
                    <i class="fa fa-hand-o-right green-text"></i>
                    <span>Developed tool that creates dynamic visualization based on data coming from a source.</span>
                </li>
                <li class="center-item">
                    <i class="fa fa-hand-o-right green-text"></i>
                    <span>Enabled dynamic visualization based on user interaction (drag, drop, resize etc.).</span>
                </li>
                <li class="center-item">
                    <i class="fa fa-hand-o-right green-text"></i>
                    <span>Automated repetitive task given a prototype and data(from webservice, file, socket etc.).</span>
                </li>
            </ul>

        </div>

        <div class="company">
            <div class="description green-text accent-3" >
                <div class="heading"><img src="./images/logo.png" class="responsive left"/>
                    <span>CodingArena</span>
                    <span class="right">2015</span>
                </div>
                <div class="sub-heading right  ">CodingArena is platform as a service that lets you write, compile and run your programs online.</div>
            </div>
        </div>
        <div class="work">
            <ul>
                <li class="center-item">
                    <i class="fa fa-external-link yellow-text"></i>
                    <span><a href="http://codingarena.programminggeek.in" style="text-transform:none;" target="_blank">http://codingarena.programminggeek.in</a></span>
                </li>
                <li class="center-item">
                    <i class="fa fa-hand-o-right green-text"></i>
                    <span>Supports 7 languages.</span>
                </li>
                <li class="center-item">
                    <i class="fa fa-hand-o-right green-text"></i>
                    <span>Sample programs for different language and their compiler version.</span>
                </li>
            </ul>

        </div>


        <div class="company">
            <div class="description green-text accent-3" >
                <div class="heading"><img src="./images/logo.png" class="responsive left"/>
                    <span>etest</span>
                    <span class="right">2014 to present</span>
                </div>
                <div class="sub-heading right  ">Online platform to practice, analyze and improve verbal and analytical skills.</div>
            </div>
        </div>
        <div class="work">
            <ul>
                <li class="center-item">
                    <i class="fa fa-external-link yellow-text"></i>
                    <span><a href="http://etest.programminggeek.in" style="text-transform:none;" target="_blank">http://etest.programminggeek.in</a></span>
                </li>
                <li class="center-item">
                    <i class="fa fa-hand-o-right green-text"></i>
                    <span>Provide Aptitude and Verbal Mock Tests for free.</span>
                </li>
                <li class="center-item">
                    <i class="fa fa-hand-o-right green-text"></i>
                    <span>Company specific tests to make focused preparation.</span>
                </li>
            </ul>

        </div>




    </div>
</div>
