<div class="card ">
    <div class="card-content blue-grey white-text ">
        <span class=" card-title ">Official Projects</span>
    </div>
</div>

<div class="row">
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-action">
                <a href="https://www.mu-sigma.com" target="_blank">Mu Sigma</a>
            </div>
            <div class="divider"></div>
            <div class="card-image">
                <img src="./images/vcl.png">
                <span class="card-title purple-text text-accent-4"><strong>MuVCL</strong></span>
                <a class="btn-floating halfway-fab waves-effect waves-light red" href="https://www.mu-sigma.com/our-platform/software/muvcl" target="_blank"><i class="material-icons">send</i></a>
            </div>
            <div class="card-action">

                <a href="#">
                    <i class="fa fa-map-marker  accent-2" ></i>
                    July 2014
                </a>
                <a href="#">
                    <i class="fa fa-map-marker  accent-2" ></i>
                    October 2015
                </a>
            </div>
            <div class="divider"></div>
            <div style="margin: 5px;">
                <span class="chip purple white-text">JavaScript</span>
                <span class="chip blue white-text">NodeJS</span>
                <span class="chip indigo white-text">PostgreSQL</span>
                <span class="chip amber white-text">git</span>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-action">
                <a href="https://www.thoughtworks.com/" target="_blank">ThoughtWorks</a>
            </div>
            <div class="divider"></div>
            <div class="card-image">
                <img src="./images/chart.png">
                <span class="card-title purple-text text-accent-4"><strong>Analytics Solution for Retail</strong></span>
                <!--<a class="btn-floating halfway-fab waves-effect waves-light red" href="https://www.mu-sigma.com/our-platform/software/muvcl" target="_blank"><i class="material-icons">send</i></a>-->
            </div>
            <div class="card-action">

                <a href="#">
                    <i class="fa fa-map-marker  accent-2" ></i>
                    October 2015
                </a>
                <a href="#">
                    <i class="fa fa-map-marker  accent-2" ></i>
                    November 2017
                </a>
            </div>
            <div class="divider"></div>
            <div style="margin: 5px;">
                <span class="chip blue white-text">Golang</span>
                <span class="chip purple white-text">JavaScript</span>
                <span class="chip teal white-text">ReactJS</span>
                <span class="chip indigo white-text">PostgreSQL</span>
                <span class="chip orange white-text">SQLServer</span>
                <span class="chip amber white-text">git</span>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-action">
                <a href="https://www.castsoftware.com/" target="_blank">Cast Software</a>
            </div>
            <div class="divider"></div>
            <div class="card-image">
                <img src="./images/imaging.png">
                <span class="card-title purple-text text-accent-4"><strong>Imaging System</strong></span>
                <a class="btn-floating halfway-fab waves-effect waves-light red" href="https://www.castsoftware.com/products/imaging-system" target="_blank"><i class="material-icons">send</i></a>
            </div>
            <div class="card-action">

                <a href="#">
                    <i class="fa fa-map-marker  accent-2" ></i>
                    November 2017
                </a>
                <a href="#">
                    <i class="fa fa-map-marker  accent-2" ></i>
                    Present
                </a>
            </div>
            <div class="divider"></div>
            <div style="margin: 5px;">
                <span class="chip blue white-text">Golang</span>
                <span class="chip purple white-text">JavaScript</span>
                <span class="chip teal white-text">ReactJS</span>
                <span class="chip indigo white-text">PostgreSQL</span>
                <span class="chip orange white-text">Neo4J</span>
                <span class="chip amber white-text">git</span>
            </div>
        </div>
    </div>
</div>

<div class="card ">
    <div class="card-content deep-purple white-text ">
        <span class=" card-title ">Own Projects</span>
    </div>
</div>


<div class="row">
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="https://blog.vikashverma.com/machine-learning/ml.jpg">
                <a class="btn-floating halfway-fab waves-effect waves-light red" href="http://blog.vikashverma.com/machine-learning" target="_blank"><i class="material-icons">send</i></a>
            </div>
            <div class="card-content">
                <span class="card-title purple-text text-accent-4"><strong>Machine Learning</strong></span>
            </div>
            <div class="card-action">
                    <span class="chip purple white-text">Supervised Learning</span>
                    <span class="chip blue white-text">UnSupervised Learning</span>
                    <span class="chip indigo white-text">Python</span>
                    <span class="chip amber white-text">Pandas</span>
                    <span class="chip orange white-text">sklearn</span>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="./images/programming-geek.png">
                <a class="btn-floating halfway-fab waves-effect waves-light red" href="http://www.programminggeek.in/" target="_blank"><i class="material-icons">send</i></a>
            </div>
            <div class="card-content">
                <span class="card-title purple-text text-accent-4"><strong>Programming Geek</strong></span>
            </div>
            <div class="card-action">
                <span class="chip purple white-text">JavaScript</span>
                <span class="chip blue white-text">Blogging</span>
                <span class="chip indigo white-text">Coding Contest</span>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="./images/duck-duck-go.png">
                <!--<a class="btn-floating halfway-fab waves-effect waves-light red" href="https://www.mu-sigma.com/our-platform/software/muvcl" target="_blank"><i class="material-icons">send</i></a>-->
            </div>
            <div class="card-content">
                <span class="card-title purple-text text-accent-4"><strong>Open Source Contribution</strong></span>
            </div>
            <div class="card-action">
                <span class="chip blue white-text"><a target="_blank"  href="https://duckduckgo.com/">DuckDuckGo</a></span>
                <span class="chip purple white-text"><a target="_blank"  href="https://github.com/angular/angular.io">anular.io</a></span>
                <span class="chip teal white-text"><a target="_blank"  href="https://github.com/ionic-team/ionic-site">ionic site</a></span>
                <span class="chip indigo white-text"><a target="_blank"  href="https://github.com/cdipaolo/goml">goml</a></span>
                <span class="chip orange white-text"><a target="_blank"  href="https://github.com/kiteco/atom-plugin">atom-plugin</a></span>
            </div>
            <div class="divider"></div>

        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="./images/etest.PNG">
                <a class="btn-floating halfway-fab waves-effect waves-light red" href="https://etest.programminggeek.in/" target="_blank"><i class="material-icons">send</i></a>
            </div>
            <div class="card-content">
                <span class="card-title purple-text text-accent-4"><strong>etest</strong></span>
            </div>
            <div class="card-action">
                <span class="chip purple white-text">JavaScript</span>
                <span class="chip blue white-text">AngularJS</span>
                <span class="chip indigo white-text">NodeJS</span>
                <span class="chip amber white-text">MongoDB</span>
                <span class="chip orange white-text">DigitalOcean</span>
                <span class="chip teal white-text">Auth0</span>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="./images/civimech.png">
                <a class="btn-floating halfway-fab waves-effect waves-light red" href="https://www.civimechengineering.com/" target="_blank"><i class="material-icons">send</i></a>
            </div>
            <div class="card-content">
                <span class="card-title purple-text text-accent-4"><strong>CiviMech Engineering</strong></span>
            </div>
            <div class="card-action">
                <span class="chip purple white-text">JavaScript</span>
                <span class="chip blue white-text">HTML5</span>
                <span class="chip indigo white-text">Github Pages</span>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="./images/coding-arena.png">
                <a class="btn-floating halfway-fab waves-effect waves-light red" href="http://codingarena.programminggeek.in" target="_blank"><i class="material-icons">send</i></a>
            </div>
            <div class="card-content">
                <span class="card-title purple-text text-accent-4"><strong>Coding Arena</strong></span>
            </div>
            <div class="card-action">
                <span class="chip purple white-text">JavaScript</span>
                <span class="chip blue white-text">AngularJS</span>
                <span class="chip indigo white-text">NodeJS</span>
                <span class="chip amber white-text">Heroku</span>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="./images/manpower-supply.png">
                <a class="btn-floating halfway-fab waves-effect waves-light red" href="https://manpowersupply.civimechengineering.com/" target="_blank"><i class="material-icons">send</i></a>
            </div>
            <div class="card-content">
                <span class="card-title purple-text text-accent-4"><strong>ManPower Supply</strong></span>
            </div>
            <div class="card-action">
                <span class="chip teal white-text">Golang</span>
                <span class="chip blue white-text">Angular</span>
                <span class="chip amber white-text">Material Design</span>
                <span class="chip purple white-text">JavaScript</span>
                <span class="chip indigo white-text">Digital Ocean</span>
                <span class="chip orange white-text">Nginx</span>
                <span class="chip cyan white-text">LetsEncrypt</span>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="./images/barnwal-group.png">
                <a class="btn-floating halfway-fab waves-effect waves-light red" href="https://www.barnwalgroup.com/" target="_blank"><i class="material-icons">send</i></a>
            </div>
            <div class="card-content">
                <span class="card-title purple-text text-accent-4"><strong>Barnwal Group</strong></span>
            </div>
            <div class="card-action">
                <span class="chip purple white-text">JavaScript</span>
                <span class="chip blue white-text">HTML5</span>
                <span class="chip indigo white-text">Github Pages</span>
            </div>
        </div>
    </div>
</div>
