<div class="row">
    <div class="col s12">
        <div class="card ">
            
            <div class="card-content blue-grey">
                <span class="card-title white-text accent-3">Strong</span>
            </div>
            <div class="card-action">
                <div class="logos">
                    <div class="logo">
                        <img src="images/html5-logo.png" class="responsive-img no-flex">
                        <h6>HTML 5</h6>
                    </div>
                    <div class="logo">
                        <img src="images/css3-logo.png" class="responsive-img no-flex">
                        <h6>CSS3</h6>
                    </div>
                    <div class="logo">
                        <img src="images/javascript-logo.png" class="responsive-img no-flex">
                        <h6>JavaScript</h6>
                    </div>
                    <div class="logo">
                        <img src="images/jquery-logo.png" class="responsive-img no-flex">
                        <h6>jQuery</h6>
                    </div>
                    <div class="logo">
                        <img src="images/angular-logo.png" class="responsive-img no-flex">
                        <h6>AngularJS</h6>
                    </div>
                    <div class="logo">
                        <img src="images/nodejs_logo.png" class="responsive-img no-flex">
                        <h6>NodeJS</h6>
                    </div>

                </div>
            </div>
        </div>
        <div class="card">

            <div class="card-content blue-grey">
                <span class="card-title white-text">Experienced</span>
            </div>
            <div class="card-action">
                <div class="logos">
                    <div class="logo">
                        <img src="images/backbone-logo.png" class="responsive-img no-flex">
                        <h6>Backbone</h6>
                    </div>
                    <div class="logo">
                        <img src="images/github-logo.png" class="responsive-img no-flex">
                        <h6>Github</h6>
                    </div>
                    <div class="logo">
                        <img src="images/grunt-logo.png" class="responsive-img no-flex">
                        <h6>GruntJS</h6>
                    </div>
                    <div class="logo">
                        <img src="images/mongo-logo.png" class="responsive-img no-flex">
                        <h6>MongoDB</h6>
                    </div>
                    <div class="logo">
                        <img src="images/postgresql-logo.png" class="responsive-img no-flex">
                        <h6>Postgres</h6>
                    </div>
                    <div class="logo">
                        <img src="images/express-logo.png" class="responsive-img no-flex">
                        <h6>Express</h6>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>